# Keil 编译生成文件
*.axf
*.crf
*.d
*.o
*.lst
*.map
*.build_log.htm

# CubeMX 临时文件
*.mxproject
*.project

# Keil 用户配置
*.uvguix.*
*.uvoptx
*.uvprojx.user

# 编译输出目录
**/Output/
**/Listings/
**/Objects/

# 系统文件
.DS_Store
Thumbs.db